/* @import 'tailwindcss'; */

:root {
	/* --r-main-font: 'Manrope'; */
	/* --r-heading-font: 'Manrope'; */
	--r-code-font: 'JetBrains Mono';
	--r-main-font-size: 32px;

	--r-heading-margin: 0 0 2rem 0;
	--r-heading-text-transform: 'none';
}

.hljs {
	background: none;
}

.hljs-title,
.hljs-keyword {
	font-weight: normal;
}

.reveal .slides {
	text-align: left !important;
}

.MathJax_Display {
	text-align: left !important;
}

.reveal table {
	margin: 2rem 0 2rem 0 !important;
}

.reveal pre,
.reveal code {
	overflow: hidden !important;
}

.reveal pre {
	box-shadow: none;
}

img[alt='real images'] {
	height: 100px;
	margin: 0 0 0 40px;
}

img[alt='transformations'] {
	height: 120px;
	margin: 0 0 0 40px;
}
